:root { 
   --color-brand-light: #819B57;
   --color-brand-dark: #465929;
   --color-primary-light: #FAF4EA;
   --color-primary-dark:  #31261A;
}

/* Base */
body { 
   color: var(--color-primary-dark);
   font-family: "Poppins", sans-serif;
}

h2 { 
   color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

/* Header */
.header-section { 
   height: 59px;
   display: flex;
   gap: 152px;
}

.header-nav {
display: flex;
gap: 152px;
}

.header-list {
align-items: center;
justify-content: space-between;
display: flex;
width: 594px;
padding-left: 0;
color: var(--color-primary-light);
}

.link {
color: var(--color-primary-light);
}

.link:hover {
color: var(--color-brand-light);
}

/* Button */

.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
padding-top: 16px;
padding-right: 32px;
padding-bottom: 16px;
padding-left: 32px;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Hero*/

.hero-title {
   color: var(--color-primary-light);
   font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Adventages section */

.advantages {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    display: flex;
    gap: 160px;
padding-top: 16px;
padding-right: 99px;
padding-bottom: 16px;
padding-left: 99px;
}

/* Chefs section */

.title-chef {
    color: var(--color-brand-dark);
}

/* Format section */

.new-format-shop  {
    color: var(--color-brand-light);
}

.new-format-tradions {
    color: var(--color-brand-light);
}